.chipIcon{
    width: 10%;
    height: 10%;
}
.checkIcon{
    width: 1%;
    height: 3%;  
}
.project-image{
    width: 50%;
    height: 50%;
}
.arrrow-right-icon{
    width: 2%;
    height: 3%; 
}
.codeIcon{
    width: 2%;
    height: 3%;  
}